<div class="" style="margin: 2rem">
  <h1>ngx-business-hours-scheduler</h1>
  <hr />
  <b>Settings</b>
  <br />
  <button (click)="disabled = !disabled">Toggle disabled</button>
  Disabled: {{ disabled }}
  <br />
  <button (click)="isoWeek = !isoWeek">Toggle iso week</button>
  Iso week: {{ isoWeek }}
  <br />
  <br />
  <ngx-business-hours-scheduler
    [(ngModel)]="businessHours"
    [disabled]="disabled"
    [isoWeek]="isoWeek"
    #input="ngModel"
    [timeFromLabel]="undefined"
    [timeToLabel]="undefined"
    [validationErrorMessage]="undefined"
  >
  </ngx-business-hours-scheduler>
  <br />
  Valid: {{ !input.invalid }}
  <br />
  Value:
  <br />
  <pre class="code">{{ input.value | json }}</pre>
</div>
